@{
    ViewBag.Title = "Главная страница";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <title>Create</title>
</head>
<body>
    <h1></h1>

    <div>
        @Html.ActionLink("Внедрение изменений", "Views", "DeploymentTable")
    </div>
    

</body>
</html>




